.mainLayout {
    display: flex;
    // @media screen and (max-width: 786px) {
    //     display: block ;
    // }
    .tags {
        padding: 30px 22px;
        width: 100%;
        overflow-x: hidden;
        span {
            color: #e7d927;
            font-size: 17px;
            font-family: "La Belle Aurore";
        }
    }
}